<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Favourite Language</title>
</head>
<body>
<ul>
    <li>{{.Name}} - {{.Efficiency}} - {{.Developer_friendly}}</li>
</ul>
</body>
</html>