<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Language & OS</title>
</head>
<body>

<ul>
    {{range .Languages}}
    <li>{{.Name}}-{{.Efficiency}}-{{.Developer_friendly}}</li>
    {{end}}
</ul>

<ul>
    {{range .OSs}}
    <li>{{.Name}}-{{.Popularity}}</li>
    {{end}}
</ul>

</body>
</html>