<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Peeps</title>
</head>
<body>
<ul>
    {{$x := .Name}}
    {{$y := .Efficiency}}
    {{$z := .Developer_friendly}}
    <li>{{$x}} -  {{$y}} - {{$z}}</li>
</ul>
</body>
</html>